{% extends 'layouts/base.html'%}

{%load static%}

{%block content%}
    <div id="carruselPrincipal" class="carousel slide carousel-fade" data-bs-ride="true">
        <div class="carousel-inner" style="height: 80vh;">
            <div data-bs-interval="2000" class="carousel-item active h-100" style="background: url(https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <div class="w-100 h-100 bg-dark bg-opacity-75"></div>
                <div class="carousel-caption">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div data-bs-interval="2000" class="carousel-item h-100" style="background: url(https://images.unsplash.com/photo-1545529468-42764ef8c85f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
                <div class="carousel-caption">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div data-bs-interval="2000" class="carousel-item h-100" style="background: url(https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <div class="w-100 h-100 bg-dark bg-opacity-25"></div>
                <div class="carousel-caption">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div data-bs-interval="2000" class="carousel-item h-100" style="background: url(https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <div class="w-100 h-100 bg-dark bg-opacity-10"></div>
                <div class="carousel-caption">
                    <h5>Last slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carruselPrincipal" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carruselPrincipal" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container py-3">
        <h2 class="text-center">Quienes somos</h2>
        <div class="row">
            <div class="col-auto">{% lorem 1 b random %}</div>
        </div>
        <div class="row my-3"></div>
        <div class="row">
            <div class="col-md-7">
                <h2 class="text-center">¿Porqué es importante adoptar?</h2>
                <p>{% lorem 2 b random %}</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid align-middle" src="https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Imagen">
            </div>
        </div>
    </div>
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner d-flex align-items-center" style="min-height: 40vh;">
                    <div class="carousel-item active h-100">
                        <div class="card mb-3 mx-auto h-100" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'images/Chololoy2.jpeg' %}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 1</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <div class="card mb-3 mx-auto h-100" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'images/Chololoy2.jpeg' %}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 2</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <div class="card mb-3 mx-auto h-100" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
    </div>
{% endblock %}