{% extends 'layouts/base.html'%}

{%load static%}
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/consultarSolicitudes.css">
{% endblock stylesheets %}

{%block content%}
<div class="container-fluid d-flex flex-column">
    <div class="botonesEleccion">
        <div class="eleccion d-flex justify-content-center align-items-center rounded-pill">
            <div class="botonRecientes rounded-pill d-flex align-items-center" >
                <button class="btn p-1 btnRecientes" style="font-weight: 400;" type="button">Recientes</button>
                <div id="notificacionRecientes" class="notificacion rounded-circle" style="width: 30px;">
                    <p class="m-1 text-center">1</p>
                </div>
            </div>
            <div class="botonEnProceso rounded-pill d-flex align-items-center">
                <div id="notificacionEnProceso" class="notificacion rounded-circle" style="width: 30px;">
                    <p class="m-1 text-center">1</p>
                </div>
                <button class="btn p-1 btnEnEspera" style="font-weight: 400;" type="button">En espera</button>
            </div>
        </div>
    </div>
    <div class="solicitudes">
        <div class="nuevasSolicitudes mx-auto">
            <div class="solicitud mx-auto shadow-lg p-1 mb-3" id="1">
                <div class="nombreSolicitante text-center">
                    <h2 >Juan Pablo</h2>
                </div>
                <div class="contenidoSolicitud row justify-content-center w-100 mx-0 bg-light">
                    <div class="datosSolicitante col-sm-8">
                        <div class="nombre row mt-3">
                            <div class="campo col-sm-5">
                                <p>Nombre completo:</p>
                            </div>
                            <div class="nombreCompleto col-sm-7">
                                <p>Juan Pablo Juarez Castillo</p>
                            </div>
                        </div>
                        <hr>
                        <div class="edad row mt-3">
                            <div class="campo col-sm-5">
                                <p>Fecha de nacimiento:</p>
                            </div>
                            <div class="edad-Solicitante col-sm-7">
                                <p>22</p>
                            </div>
                        </div>
                        <hr>
                        <div class="direccion row mt-3">
                            <div class="campo col-sm-5">
                                <p>Dirección:</p>
                            </div>
                            <div class="domicilioCompleto col-sm-7">
                                <p>Cerca del tec #2 Tecnologico</p>
                            </div>
                        </div>
                        <hr>
                        <div class="telefono row mt-3">
                            <div class="campo col-sm-5">
                                <p>Télefono:</p>
                            </div>
                            <div class="telefonoCompleto col-sm-7">
                                <p>4434110582</p>
                            </div>
                        </div>
                        <hr>
                        <div class="razones row mt-3">
                            <div class="campo col-sm-5">
                                <p>Razones:</p>
                            </div>
                            <div class="razonesCompletas col-sm-7">
                                <p>Me gustan mucho</p>
                            </div>
                        </div>
                        <hr>
                        <div class="documentos row mt-3">
                            <div class="campo col-sm-5">
                                <p>Documentos:</p>
                            </div>
                            <div class="fotosDocumentos col-sm-7 row">
                                <a class="col-sm-5" href="/static/images/Chololoy2.jpeg" alt="ine" >INE</a>
                                <a class="col-sm-5" href="/static/images/Chololoy2.jpeg" alt="domicilio">Comprobante de domicilio</a>
                            </div>
                        </div>
                    </div>
                    <div class="datosMascota card col-sm-4 p-0">
                        <img src="/static/images/Chololoy2.jpeg" class="card-img-top">
                        <div class="card-body bg-light  d-flex flex-column justify-content-around">
                            <div class="infoMascota">
                                <div class="espacioNombreMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Nombre:</p>
                                    </div>
                                    <div class="nombreMascota col-sm-6">
                                        <p>Firulais</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioEdadMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Edad:</p>
                                    </div>
                                    <div class="edadMascota col-sm-6">
                                        <p>Cachorro</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioGeneroMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Genero:</p>
                                    </div>
                                    <div class="generoMascota col-sm-6">
                                        <p>Macho</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioRazaMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Raza:</p>
                                    </div>
                                    <div class="razaMascota col-sm-6">
                                        <p>Perro</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioUbicacionMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Ubicación:</p>
                                    </div>
                                    <div class="ubicacionMascota col-sm-6">
                                        <p>Tec #25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-secondary botones d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-danger rechazar p-0 mr-2" value="2" style="font-size: 2vh;">Rechazar</button>
                            <button type="button" class="btn btn-primary aceptar p-0" value="1" style="font-size: 2vh;">En proceso</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="procesoSolicitudes mx-auto">
            <div class="solicitud mx-auto shadow-lg p-1 mb-3" id="1">
                <div class="nombreSolicitanteProceso text-center">
                    <h2>Pablo</h2>
                </div>
                <div class="contenidoSolicitud row justify-content-center w-100 mx-0 bg-light">
                    <div class="datosSolicitante col-sm-8">
                        <div class="nombre row ">
                            <div class="campo col-sm-5">
                                <p>Nombre completo:</p>
                            </div>
                            <div class="nombreCompleto col-sm-7">
                                <p>Juan Pablo Juarez Castillo</p>
                            </div>
                        </div>
                        <hr>
                        <div class="edad row mt-3">
                            <div class="campo col-sm-5">
                                <p>Fecha de nacimiento:</p>
                            </div>
                            <div class="edad-Solicitante col-sm-7">
                                <p>20</p>
                            </div>
                        </div>
                        <hr>
                        <div class="direccion row mt-3">
                            <div class="campo col-sm-5">
                                <p>Dirección:</p>
                            </div>
                            <div class="domicilioCompleto col-sm-7">
                                <p>Manantial de Paracuaro #195, Col. Ampliacion Manantiales</p>
                            </div>
                        </div>
                        <hr>
                        <div class="telefono row mt-3">
                            <div class="campo col-sm-5">
                                <p>Télefono:</p>
                            </div>
                            <div class="telefonoCompleto col-sm-7">
                                <p>4434110582</p>
                            </div>
                        </div>
                        <hr>
                        <div class="razones row mt-3">
                            <div class="campo col-sm-5">
                                <p>Razones:</p>
                            </div>
                            <div class="razonesCompletas col-sm-7">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque aut ex rerum dolorem odit
                                    repudiandae
                                    inventore doloremque iusto voluptate. Ducimus, velit repudiandae saepe corrupti
                                    molestias ipsum!
                                    Voluptate similique possimus quibusdam!</p>
                            </div>
                        </div>
                        <hr>
                        <div class="documentos row mt-3">
                            <div class="campo col-sm-5">
                                <p>Documentos:</p>
                            </div>
                            <div class="fotosDocumentos col-sm-7 row">
                                <a class="col-sm-5" href="/static/images/Chololoy2.jpeg" alt="ine" >INE</a>
                                <a class="col-sm-5" href="/static/images/Chololoy2.jpeg" alt="domicilio">Comprobante de domicilio</a>
                            </div>
                        </div>
                    </div>
                    <div class="datosMascotaProceso card col-sm-4 p-0">
                        <img src="/static/images/Chololoy2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body bg-light d-flex flex-column justify-content-around">
                            <div class="infoMascota">
                                <div class="espacioNombreMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Nombre:</p>
                                    </div>
                                    <div class="nombreMascota col-sm-6">
                                        <p>Randy</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioEdadMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Edad:</p>
                                    </div>
                                    <div class="edadMascota col-sm-6">
                                        <p>Adulto</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioGeneroMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Genero:</p>
                                    </div>
                                    <div class="generoMascot col-sm-6">
                                        <p>Macho</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioRazaMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Raza:</p>
                                    </div>
                                    <div class="nombreMascot col-sm-6">
                                        <p>Mestizo</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="espacioUbicacionMascota row">
                                    <div class="campo col-sm-6">
                                        <p>Ubicación:</p>
                                    </div>
                                    <div class="ubicacionMascota col-sm-6">
                                        <p>Tec #25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-secondary botones d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-danger rechazar p-0 mr-2" value="2" style="font-size: 2vh;">Rechazar</button>
                            <button type="button" class="btn btn-primary aceptar p-0" value="1" style="font-size: 2vh;">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/consultarSolicitudes.js"></script>
{% endblock scripts %}